{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "strict": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "prefer-template": "off",
    "comma-dangle": "off"
  }
}